{% extends "app_base.html" %}
{% block content %}
<head>

<script   src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
    <script>
       function getUrlVars() {
          var vars = {};
      var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                vars[key] = value;
          });
          return vars;
        }
  function setCookie(cname, cvalue) {
    document.cookie = cname + "=" + cvalue + ";";
  }

  function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }
  $(function() { 
    var urlVars = getUrlVars();
    console.log("urlVars");
    console.log(urlVars);
    if (getCookie("lb_token") !== "") {
      $('.enableOnInput').prop('disabled', false);
    }
    else if ("code" in urlVars) {
      var code = urlVars["code"];
      var url = window.location.href;
      var redirect_uri = url.substring(0,url.indexOf("?"));
      $.post("accessToken", { code: code, redirect_uri: redirect_uri }).done(function( data ) {
          var access_token = data["access_token"];
          console.log("setting cokkie to access_token");
          console.log(access_token);
          setCookie("lb_token", access_token);
          $('.enableOnInput').prop('disabled', false);
        }).fail(function(response) {
    alert('Error: ' + response.responseText);})
    } else { 
      $.getJSON("clientId", function(data) {
        var clientId = data["clientId"];
        var redirect_url = window.location.href;
        var auth_url = "https://authentication.columbusecosystem.com/o/authorize/?response_type=code&client_id=" 
                  + clientId + "&redirect_uri=" + redirect_url + "&state=1234xyz";
        $(".cdrivediv").append("<div class='cdrive-import-container'></div>");
        $(".cdrive-import-container")
          .append("<a href='" + auth_url + "' style='margin-top:15px;' class='btn btn-primary'>Login to CDrive</a>");
      });
    }
  });
  </script>
 </head>

  <div class = "cdrivediv"/>
<form method="POST" action="fetchPair" role="form" style="max-width:400px; width:100%">
	{% if message is defined %}
	<div class="alert alert-warning" role="alert">{{ message }}</div>
	{% endif %}
	<div class="form-group">
	  <label for="tableA">Path for Table A</label>
	  <input type="text" class="form-control" id="tableA" name="tableA" align ="right"/>
	</div>
	<br> 
	<div class="form-group">
	  <label for="tableB">Path for Table B</label>
	  <input type="text" class="form-control" id="tableB" name="tableB" />
	</div>
	<br>
	<div class="form-group">
	  <label for="labelledPairs">Path for labeled file</label>
	  <input type="text" class="form-control" id="labelledPairs" name="labelledPairs" />
	</div>
	<br> 
	<div class="form-group">
	  <label for="outputFile">Path for the output file</label>
	  <input type="text" class="form-control" id="outputFile" name="outputFile" />
	</div>
	<div><input type="submit" value="Generate Suspicious Pairs!" align = "center"  name='submit' id='submitBtn' class='enableOnInput' disabled='disabled' /></div>
</form>


{% endblock %}
